/* #sign-in {
  float: right;
}
.fa-facebook-square{
  float: right;
  width: 300px;
  height: 400px;
} */

.body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}


.form-container{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #34495e;
}
.box{
  width: 500px;
  height: 500px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: whitesmoke;
  text-align: center;
  border-radius: 24px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.box:hover{
  box-shadow: 2px 5px 10px black;

}
.box h1{
  color: gray;
  font-weight: 500;
}
.box input[type = "text"], .box input[type = "password"]{
  border: 0;
  background: none;
  display: block;
  margin: 50px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 300px;
  outline: none;
  color: navy;
  border-radius: 24px;
  transition: 0.25s; 
}
#button{
  width: 150px;
  border-radius: 24px;
}
.navbar{
  background: darkslategray;
  padding-bottom: 15px;
  font-family: sans-serif;
  border-radius: 10px;
}
.box input[type = "text"]:focus, .box input[type = "password"]:focus{
  width: 280px;
  border-color: #2ecc71;
}
.card{
  background: url("")
}
.img-fluid{
  border-radius: 17px;
}
#awesome{
  margin-left: 205px;
  font-size: 60px;
}
/* i{
  font-size: px;
} */
.row-articles{
  margin-left: 350px;
}
h2{
  text-align: center;
}
hr{
  border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}